*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    width: 100%;
    height: 67px;
    border-bottom: 1px solid #F0F0F0;
}
#nav-box{
    height: 100%;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.iconfont{
    font-size: 12px;
}
#nav-box-left{
    height: 100%;
    display: flex;
    align-items: center;
}
#nav-box-left img{
    width: 131px;
    height: 39px;
    margin-right: 40px;
}
#nav-box-left>ul{
    height: 100%;
    display: flex;
    position: relative;
}
#nav-box-left>ul>li{
    height: 100%;
    padding: 0 14px;
    color: #333333;
    line-height: 67px;
    cursor: pointer;
}
#nav-box-left>ul>#more:hover>.icon-arrow-down{
    display: inline-block;
    transform: rotateZ(180deg);
}
.moreContent{
    position: absolute;
    width: 170px;
    height: 203px;
    top: 66px;
    right: -70px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 7px #F4F4F4;
}
.moreContent li{
    color: #333333;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
}
.moreContent:hover{
    display: block;
}
.moreContent li:hover{
    background-color: #FFDF1F;
}
#nav-box-left>ul>#more:hover~.moreContent{
    display: block;
}
#nav-box-right{
    display: flex;
    height: 100%;
    align-items: center;
}
#nav-box-right #search{
    background-color: #F5F5F5;
    margin-right: 28px;
    position: relative;
    z-index: 2;
}
#nav-box-right #search i{
    font-size: 14px;
    color: #999999;
}
#nav-box-right #search input{
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding-left: 10px;
    margin-right: 20px;
    outline: none;
    border: none;
    height: 34px;
    width: 246px;
}
#nav-box-right #search input::placeholder{
    font-size: 14px;
    color: #999999;
}
#hotSearch{
    position: absolute;
    box-sizing: border-box;
    width: 294px;
    height: 63px;
    padding: 18px 0;
    top: 0;
    z-index: 0;
}
.hot{
    background-color: #fff;
    transition: top .5s;
    width: 294px !important;
    height: 443px !important;
    top: 50px !important;
    z-index: 1 !important;
    font-size: 14px;
    color: #999;
}
.hot p{
    font-size: 18px;
    font-weight: 800;
    color: black;
    padding-left: 20px;
    margin-bottom: 5px;
}
#xuhao{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    line-height: 20px;
    background-color: #aaa;
    margin-right: 10px;
}
.resou{
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
}
.resou:hover{
    background-color: #eee;
}
.resou1{
    background-color: #EA4343 !important;
}
.resou2{
    background-color: #FF6B21 !important;
}
.resou3{
    background-color: #FFB700 !important;
}
.box{
    width: 1400px;
    margin: auto;
}
.titleBox{
    height: 54px;
    padding-left: 206px;
    line-height: 54px;
}
.titleBox span{
    font-size: 14px;
    margin-right: 34px;
    cursor: pointer;
}
.pageNum:hover,.last:hover,.next:hover{
    background-color: #FFDF1F;
}
/* footer部分 */
.w1400{
    width: 1400px;
    margin: 0 auto;
}
.topFooter ul,.bottomFooter ul{
    display: flex;
}
.topFooter {
    margin-top: 62px;
    height: 220px;
    background: #282828;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.topFooter div.w1400 {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.topFooter div.w1400 h3 {
    padding-top: 49px;
    margin-bottom: 36px;
    font-weight: normal;
    color: #f5f5f5;
}

.topFooter div.w1400 i {
    font-size: 44px;
    margin-right: 50px;
}
.topFooter div.w1400 span {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
}

.topFooter li:nth-child(1) i::before {
    content: "\e611";
    font-family: iconfont1;
    font-style: normal;
}

.topFooter li:nth-child(2) i::before {
    content: "\e60f";
    font-family: iconfont1;
    font-style: normal;
}

.topFooter li:nth-child(3) i::before {
    content: "\e60d";
    font-family: iconfont1;
    font-style: normal;
}

.bottomFooter {
    font-size: 12px;
    font-weight: 400;
    height: 182px;
    padding: 22px 0 99px;
    background: #1f1f1f;
    text-align: center;
    color: grey;
}

.bottomFooter ul {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 8px;
}

.topFooter ul li:hover,
.topFooter p span:hover,
.changeColor:hover {
    cursor: pointer;
    color: #FFE12C;
}
